<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmmanagerhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProduceEstimatorManagerProfiles"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProduceEstimator"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShippingCalculatorManagerProfiles"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShippingCalculator"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".ManagerOrderBoardSettings"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".OrdersBoard"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".ManagerViewingStaffTimetable"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".StaffTimetable"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".ManagerTimetable"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".JoinFarm"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateFarm"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterAccountActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

    </application>

</manifest>